/* PAGE WRAPPER */
.edit-admin-page {
  display: flex;
  justify-content: center;

  
}

/* MAIN WHITE CONTAINER */
.edit-container {
  width: 650px;
  padding: 30px;
  margin-bottom: 15px;
  margin-right: 20rem;
}

.edit-container h2 {
  margin: 0;
  font-size: 22px;
  text-align: left;
  margin-bottom: 5px;
}

.sub-text {
  color: #6c6c6c;
  margin-bottom: 25px;
  text-align: left;
}

/* ------------------------------------
   SKELETON LOADER
------------------------------------ */
@keyframes shimmer {
  0% { background-position: -400px 0; }
  100% { background-position: 400px 0; }
}

.skeleton-wrapper .sk-photo,
.skeleton-wrapper .sk-line {
  background: linear-gradient(90deg, #eaeaea 25%, #dcdcdc 50%, #eaeaea 75%);
  background-size: 600px 100%;
  animation: shimmer 1.2s infinite linear;
}

.sk-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.sk-line {
  height: 16px;
  border-radius: 6px;
  margin: 10px 0;
}

.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }

/* ------------------------------------
   PROFILE UPLOAD ROW
------------------------------------ */
.photo-upload-row {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 25px;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

/* Upload Photo label */
.upload-btn {
  cursor: pointer;
  background: #EDF9F9;
   padding: 10px;
  color: #26adf0;
  border-radius: 10px;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.upload-icon {
  font-size: 18px;
  margin-top: 1px;
}

/* ------------------------------------
   FORM GRID
------------------------------------ */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  margin-top: 10px;
}

.full {
  grid-column: span 2;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 11px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  background: #fafafa;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #0563f1;
  background: #fff;
  outline: none;
}

.status-active {
  color: #0f9d58 !important;  /* Green */
  font-weight: 500;
}

.status-inactive {
  color: #d93025 !important; /* Red */
  font-weight: 500;
}

/* optional for dropdown items (works in most browsers) */
.opt-active {
  color: #0f9d58;
}

.opt-inactive {
  color: #d93025;
}


/* ------------------------------------
   ACTION BUTTONS
------------------------------------ */
.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  gap: 12px;
}

.cancel-btn {
  padding: 10px 18px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  background: #f5f5f5;
  cursor: pointer;
}

.save-btn {
  padding: 10px 20px;
  border-radius: 6px;
  background: #0563f1;
  border: none;
  color: white;
  cursor: pointer;
}
