
.profile-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  border-bottom: 1px solid #eee;
}

.profile-page-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.sub-text {
  margin: 4px 0 0;
  font-size: 13px;
  color: #777;
}

.profile-card {
  background: #fff;
  border-radius: 8px;
  padding: 20px 25px;
  margin: 20px 25px;
}

.profile-header {
  display: flex;
  gap: 30px;
  align-items: center;
}
.profile-content {
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: start;
  gap: 0;
}

/* Avatar wrapper */
.profile-avatar-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Right side container */
.profile-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.profile-avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.profile-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  align-items: start;
}
.profile-divider {
  height: 1px;
  background: #eee;
  margin: 20px 0;
}

.profile-info label {
  font-size: 13px;
  color: #4f8ef7;
}

.profile-info p {
  margin: 4px 0 0;
}

.active {
  color: green;
  font-weight: 500;
}

.profile-actions {
  display: flex;
  gap: 10px;
}

.outline-btn {
  background: #fff;
  border: 1px solid #4f8ef7;
  color: #4f8ef7;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.primary-btn {
  background: #0a618c;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
}
.profile-meta {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.profile-meta > div {
  display: flex;
  flex-direction: column;
}

.profile-meta label {
  font-size: 13px;
  color: #4f8ef7;
  margin-bottom: 4px;
}

.profile-meta p {
  margin: 0;
}


.activity-card {
  background: #fff;
  border-radius: 8px;
  padding: 20px 25px;
  margin: 20px 25px;
}

.activity-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
}

.view-link {
  color: #0a618c;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.success {
  color: green;
  font-weight: 500;
}
