.subscription-container {
  padding: 25px;
 
}

.sub-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.page-title {
  margin: 0;
  font-size: 22px;
}

.page-subtext {
  color: #777;
  margin-top: 4px;
}

/* ADD PLAN BUTTON */
.add-plan-btn {
  background:  #0e3556;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-plan-btn:hover {
  background: #1c4b71;
}

/* TABLE */
.subscription-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.subscription-table th,
.subscription-table td {
  padding: 16px;
  border-bottom: 1px solid #e7e7e7;
  text-align: left;
  font-size: 14px;
}

.subscription-table th {
  background: #fafafa;
  font-weight: 600;
}

.desc-col {
  width: 280px;
  color: #555;
  line-height: 1.4;
}

.action-icon {
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.action-icon:hover {
  color: #0563f1;
}


/* SKELETON LOADER */
@keyframes shimmer {
  0% { background-position: -300px 0; }
  100% { background-position: 300px 0; }
}

.sub-skeleton-table .sk-line {
  height: 14px;
  background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 600px 100%;
  animation: shimmer 1.4s infinite linear;
  border-radius: 6px;
  margin: 10px 0;
}

.sub-skeleton-table {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.07);
}

.sk-row {
  display: grid;
  grid-template-columns: 15% 10% 40% 10% 10% 10% 5%;
  gap: 15px;
  margin: 18px 0;
}

.w-5 { width: 5%; }
.w-10 { width: 10%; }
.w-15 { width: 15%; }
.w-20 { width: 20%; }
.w-40 { width: 40%; }
