/* Main Container */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

/* Left Section */
.left-section {
  width: 50%;
  background-color: #f8fafc;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#7c7c7c 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.6;
}

.dashboard-img {
  width: 65%;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0px 4px 25px rgba(0,0,0,0.1);
}

/* RIGHT SIDE LAYOUT */
.right-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.right-content {
  width: 420px;
  text-align: center;
}

/* Logo */
.logo {
  width: 60px;
  margin-bottom: 20px;
}

/* Headings */
.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.subtitle {
  margin-bottom: 30px;
  font-size: 14px;
  color: #6b7280;
}

/* Input Styles */
.input-group {
  position: relative;
  margin-bottom: 18px;
}

.input-group input {
  width: 100%;
  padding: 14px 45px 14px 15px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 15px;
}

.icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #555;
  cursor: pointer;
}

/* Login Button */
.login-btn {
  width: 100%;
  padding: 14px;
  background: #013c60;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  margin-top: 5px;
  cursor: pointer;
}

/* Options (checkbox + forgot) */
.options {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 14px;
}

.forgot {
  color: #013c60;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10rem;
}

/* Divider */
.divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.divider span {
  background: white;
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

.divider::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #d1d5db;
  position: absolute;
  left: 0;
  top: 50%;
}

/* Google Button */
.google-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background: #fff;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-icon {
  width: 20px;
  margin-left: 10px;
}

/* Signup text */
.signup-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  
}
.sign{
  color: #013c60;
}

.error-text {
  color: #d32f2f;
  font-size: 14px;
  margin-bottom: 10px;
}

