/* TOPBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 100%;
  background: #fff;
  margin-left: 0px;
  padding: 10px 30px 10px 20px;
  box-shadow: 0 2px 8px #00000010;
}

/* RIGHT SIDE */
.topbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* NOTIFICATION BOX */
.notify-box {
  width: 39px;
  height: 39px;
  background: #fff7e6;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.notify-box i {
  font-size: 20px;
  color: #f4a605;
}

.notify-dot {
  width: 8px;
  height: 8px;
  background: #ff3b30;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 8px;
}

/* PROFILE */
.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

.profile-text p {
  margin: 0;
  font-size: 12px;
  color: gray;
}

/* for tablet*/
@media (max-width: 768px) {
  .topbar {
    padding: 8px 15px;
  }

  .topbar-right {
    gap: 20px;
  }

  .profile-text h4 {
    font-size: 14px;
  }

  .profile-text p {
    font-size: 11px;
  }
}

/*for mobile*/
@media (max-width: 480px) {
  .topbar {
    padding: 8px 12px;
    border-radius: 0; /* looks clean full-width on mobile */
  }

  .profile-text {
    display: none; /* hide name & role on small screens */
  }

  .topbar-right {
    gap: 15px;
  }
}
